<% layout("/layouts/boilerplate") %>

<h2>Chat</h2>

<div id="chat-box">
    <% messages.forEach(msg => { %>
        <div class="msg <%= msg.senderId.toString() === currentUser ? 'me' : 'other' %>">
            <%= msg.message %>
        </div>
    <% }) %>
</div>

<input type="text" id="messageInput" placeholder="Type message">
<button onclick="sendMessage()">Send</button>

<script>
    const currentUser = "<%= currentUser %>";
    const otherUser = "<%= otherUser %>";
</script>


<% block('css') %>
<link rel="stylesheet" href="/css/chat.css">


<% block('js') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/click.js"></script>
<script src="/js/chat.js"></script>


