<% layout("/layouts/boilerplate") %>

<h2>All Users</h2>

<ul>
  <% users.forEach(user => { %>
      <% if(currentUser && user._id.toString() !== currentUser._id.toString()){ %>
        <li>
          <a href="/chat/<%= user._id %>" class="user">
            <%= user.username %>
          </a>
        </li>
      <% } %>
  <% }) %>
</ul>